<section class="pie-clearfix" id="index">
  <section id="plans">
    {% for product in collections.frontpage.products limit: 1 %}
      <ul>
        <li><span class="check">Share <span class="compare">10 files</span> <strong>unlimited files</strong> a day</span></li>
        <li><span class="check">Upload files up to <span class="compare">25MB</span> <strong>250MB</strong></span></li>
        <li><span class="check">Share links with <span class="compare">our</span> <strong>your own domain</strong></span></li>
      </ul>

      <form action="/cart/add" method="post">
        <fieldset>
          <div>
            {% for variant in product.variants %}
              {% if variant.available %}
                {% if variant.sku == 'CLPRO01' %}
                  {% assign single = variant %}
                {% else %}
                  {% capture id %}pro-{{ variant.title | replace: ' ', '-' }}{% endcapture %}
                  <label><input {% if forloop.first %}checked {% endif %}id="{{ id }}" name="id" type="radio" value="{{ variant.id }}" /> {{ variant.title | escape }}&thinsp;&mdash;&thinsp;{% if variant.compare_at_price %}<span class="compare">{{ variant.compare_at_price | money }}</span> {% endif %}{{ variant.price | money }}</label>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </fieldset>

        {% if single %}
          <p>
            <small>Have commitment issues? We also offer <a href="#1-month" id="1-month">1 month for $5</a>.</small>
            {% capture id %}pro-{{ single.title | replace: ' ', '-' }}{% endcapture %}
            <input id="{{ id }}" name="id" style="display: none !important;" type="radio" value="{{ single.id }}" />
          </p>
        {% endif %}

        <p>
          <input class="green" type="submit" value="Get CloudApp Pro" />
        </p>
      </form>

      <script>
        (function($) {
          $(function() {
            var hash = window.location.hash.replace(/#/, '');
            $("#pro-" + hash).attr("checked", "checked");

            $("#1-month").click(function(e) {
              e.preventDefault();

              $("#pro-1-month").attr("checked", "checked");
              $(this).closest("form").submit();
            });
          });
        }(jQuery));
      </script>
    {% endfor %}
  </section>

  <section id="faqs">
    <div class="pie-clearfix row">
      <section class="column">
        <dt>How long are your contracts?</dt>

        <dd>
          Contracts?! Who do you think we are? A telephone company? We want you to use CloudApp because you can't live without it not because you're tied down by a contract.
        </dd>
      </section>

      <section class="column">
        <dt>How do I cancel?</dt>

        <dd>
          Easy. Do nothing! If you buy CloudApp Pro today and decide somewhere down the road that we're not right for each other, simply let your plan expire.
        </dd>
      </section>

      <section class="column">
        <dt>What do you mean by "unlimited"?</dt>

        <dd>
          You're not limited by total uploads or bandwidth. Having said that, if you plan on powering your piracy ring or YouTube competitor, we kindly ask that you go elsewhere. If you have specific questions, see our <a href="http://help.getcloudapp.com/terms-of-service">Terms of Service</a> or feel free to <a href="mailto:support@getcloudapp.com">ask us directly</a>.
        </dd>
      </section>
    </div>
  </section>
</section>
