<section class="pie-clearfix" id="index">
  <section id="plans">
    {% for product in collections.frontpage.products limit: 1 %}
      <hgroup>
        <h1>{{ product.title }}</h1>
      </hgroup>

      <form action="/cart/add" method="post">
        <fieldset>
          {% for variant in product.variants %}
            {% if variant.available %}
              <label><input {% if forloop.first %}checked {% endif %}id="pro-{{ variant.title | replace: ' ', '-' }}" name="id" type="radio" value="{{ variant.id }}" /> {{ variant.title | escape }} &mdash; {{ variant.price | money }}</label>
            {% endif %}
          {% endfor %}
        </fieldset>

        <p>
          <input class="green" type="submit" value="Get {{ product.title }}" />
        </p>
      </form>

      <script>
        (function($) {
          $(function() {
            var hash = window.location.hash.replace(/#/, '');
            $("#pro-" + hash).attr("checked", "checked");
          });
        }(jQuery));
      </script>
    {% endfor %}
  </section>

  <section id="description">
    <div class="column">
      <h2>Turbocharge Your Account</h2>

      <p>
        CloudApp is free forever. There are no expiring trials, hidden charges or contracts. However if you want to share more than 10 uploads a day (25MB max. file size) you should turbocharge your account with CloudApp Pro:
      </p>

      <ul>
        <li>Unlimited Daily Uploads</li>
        <li>Up To 250MB Per Upload</li>
        <li>Use Your Own Domain</li>
      </ul>
    </div>

    <div class="column">
      <h2>How Does It Work?</h2>

      <p>
        Purchase a prepaid CloudApp Pro Gift Card for yourself or for a friend. You can redeem it with a single click. Your account will automatically be credited with the purchased months and turbocharged.
      </p>

      <p>
        There are no recurring fees or commitments. Simply pay as you go.
      </p>
    </div>

    <div class="column">
      <h2>Any questions before going Pro?</h2>

      <p>
        If you have questions about CloudApp Pro or the checkout process just submit a support request and we’ll get back to you within 24 hours.
      </p>
    </div>
  </section>
</section>
